@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: $bgColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}