@import "../common/styles/sass/variables";

.contactsBlock {
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .shortInfo {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      margin-top: 62px;

      ul {
        margin: 0 0 0 -30px;
        list-style-type: none;
        display: flex;

        li {
          margin: 0 0 30px;
          float: left;
          padding-left: 30px;
          text-decoration: none;
          color: #7d7789;

          .listInner {
            width: 100%;
            height: auto;
            position: relative;
            border: 1px solid rgba(0, 0, 0, .07);
            text-align: center;
            padding: 32px 25px;
            box-sizing: border-box;

            .icon {
              font-size: 20px;
              margin-bottom: 5px;
              color: #333;
              display: inline-block;
              font-style: normal;
            }
          }
        }
      }

    }
  }
}

.formContainer {
  width: 70%;
  height: auto;
  display: flex;

  .form {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .input, textarea {
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid rgba(0, 0, 0, .07);
      background-color: transparent;
      border-radius: 0;
      font-weight: 600;
      font-size: 13px;
      min-width: auto;
      letter-spacing: 1.4px;
      box-sizing: border-box;
      font-family: $headerFont;
      line-height: 1.6;
      padding: 10px !important;
      height: 44px;
      vertical-align: middle;
      transition: all .3s ease;
    }

    .textarea {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, .07);
      height: 120px;
      resize: none;
      margin-bottom: 20px;
      background-color: transparent;
    }
  }
}

.buttonSend {
  cursor: pointer;
  padding: 13px 32px;
  width: 200px;
  height: 60px;
  font-size: 15px;
  color: #fff;
  background-color: #333;
  border: 2px solid #333;
  font-family: $headerFont;
  font-weight: 500;
  transition: all .3s ease;

  &:hover {
    background-color: transparent;
    color: #333;
  }
}