@import "../common/styles/sass/mixins";

.skillsBlock {
    @include containerPosition
}
.skillsContainer {
    align-items: center;
    justify-content: flex-start;
}
.skills{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}