@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.nav {
    width: 300px;
    display: flex;
    justify-content: space-around;
    padding: 0 60px;
    letter-spacing: 0;
    .link {
        padding: 5px 22px;
        text-decoration: none;
        font-family: $titleFont;
        font-weight: 500;
        transition: all 0.3s ease;
        color: $primaryFontColor;
        &:hover{
            background-color: black;
            color: white;
        }
    }
    .activeLink {
        background-color: black;
        padding: 5px 22px;
        text-decoration: none;
        font-family: $titleFont;
        font-weight: 500;
        transition: all .3s ease;
        color: white;
    }
}
