.projectsBlock {
    height: 100vh;
    background: #d5adad;
}
.projectsContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}
.title {
    background: ghostwhite;
}
.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}